workflow/gece_kusu.json
{
  "name": "gece_kusu",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        128
      ],
      "id": "80ddb571-88d2-4ca9-a21b-64847497f31b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7710f2f-20ac-4c11-86a4-26eab3c4bcff",
              "leftValue": "={{ $json.trial_end_date }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        640,
        128
      ],
      "id": "0545c338-dc85-45d4-bba9-946866bed8b5",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "companies",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_trial_active",
              "fieldValue": "false"
            },
            {
              "fieldId": "service_active",
              "fieldValue": "FALSE"
            },
            {
              "fieldId": "subscription_status",
              "fieldValue": "canceled"
            },
            {
              "fieldId": "paused_reason",
              "fieldValue": "Deneme Süresi Doldu"
            },
            {
              "fieldId": "paused_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        128
      ],
      "id": "b2878b29-af9e-44bf-8565-0e89712e8ba5",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "5fiEwJtzNrMasDp2",
          "name": "Randevubotnet"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "companies",
        "filters": {
          "conditions": [
            {
              "keyName": "is_trial_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "bf51b3b8-d9ff-46ac-8d50-c9a774ba65db",
      "name": "Suresi Bitenleri Kapat",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5fiEwJtzNrMasDp2",
          "name": "Randevubotnet"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Suresi Bitenleri Kapat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suresi Bitenleri Kapat": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e416545-6b40-4420-98cc-22974bffc316",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5bf69624a39d6d53ef656fb05088202362a2f094009339df5426d88d65c85398"
  },
  "id": "YsWsUMpnNojTDeSl",
  "tags": []
}